nav .link {
    margin: 0 1rem;
    color: #eee;
    text-decoration: none;
}

nav .link:hover {
    color: #f90;
}

nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #232f3e;
        transition: 1s;
    }
    nav Link {
        font-size: 1.5rem;
    }
}